.menu{
    height: auto;
    width: 15%;
    flex: 0 0 50px;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    
}
ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
}
li{
    border: 2px solid white;
    border-radius: 10% ;
}
button{
    color: black;
    font-size: medium;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid rgb(120, 120, 120);
    background-color: rgb(150, 150, 150);
    

}
#currentpage{
    background-color: lightgrey;
    border: 1px solid white;
}