body{
    background-color: black ;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#top{
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
}
.flexbox{
    flex-direction: row;
    display: flex;
    flex-flow: line wrap;
    align-items: center;
    width: 100%;
    top: 0;
}
#title{
    flex: 1 1 50px;
}
.bottom{
    bottom: 0;
    height: 8%;
    width: 100%;
}
#bottom{
    left: 0;
    background-color: #202020;
    position: fixed;
    z-index: 1;
}
hr{
    width: 100%;
}
.centered{
    text-align: center;
}
.contenu{
    width: 98%;
    position: absolute;
    top: 20%;
    bottom: 8% ;
}
.whiteline{
    background-color: white;
    height: 1px;
    width: 100%;
}