body{
    background-color: black;
    color: white;
}
#top{
    background-color: #202020;
    display:flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
}
.flexbox{
    flex-direction: row;
    display: flex;
    flex-flow: line wrap;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
#title{
    flex: 1 1 50px;
}
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
hr{
    width: 100%;
}
.centered{
    text-align: center;
}
.contenu{
    position: absolute;
    top: 20%;
}
.whiteline{
    background-color: white;
    height: 1px;
    width: 100%;
}